<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_Name" value="static-web" />
	<property name="logbase" value="/data/logs/" />
	<contextName>${APP_Name}</contextName>
	<!--<springproperty name ="logdir" source="logback.logdir" defaultValue="/data/logs"></springproperty>-->
	<!--<springproperty name ="appName" source="logback.appName" defaultValue="static-web"></springproperty>-->

	<appender name="static_console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="static_errorFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<file>/${LOG_HOME}/logs/${APP_Name}/error.log</file>-->
		<file>${logbase}/${APP_Name}/error.log</file>
		<!--<file>${logdir}/${appName}/error.log</file>-->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--<fileNamePattern>/${LOG_HOME}/logs/${APP_Name}/error.%d{yyyy-MM-dd}.log-->
			<!--</fileNamePattern>-->
			<fileNamePattern>${logbase}/${APP_Name}/error_%d{yyyy-MM-dd}.log
			<!--<fileNamePattern>${logdir}/${appName}/error_%d{yyyy-MM-dd}.log-->
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
			<!--<level>ERROR</level>-->
			<!--<onMatch>ACCEPT</onMatch>-->
			<!--<onMismatch>DENY</onMismatch>-->
		<!--</filter>-->

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="static_rollingFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<file>/${LOG_HOME}/logs/${APP_Name}/server.log</file>-->
		<file>${logbase}/${APP_Name}/server.log</file>
		<!--<file>${logdir}/${appName}/server.log</file>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logbase}/${APP_Name}/server_%d{yyyy-MM-dd}.log
			<!--<fileNamePattern>${logdir}/${appName}/server_%d{yyyy-MM-dd}.log-->
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<!--<fileNamePattern>/${LOG_HOME}/logs/${APP_Name}/server.%d{yyyy-MM-dd}.log-->
			<!--</fileNamePattern>-->
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="static_statFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<file>/${LOG_HOME}/logs/${APP_Name}/stat.log</file>-->
		<file>${logbase}/${APP_Name}/stat.log</file>
		<!--<file>${logdir}/${appName}/stat.log</file>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--<fileNamePattern>${logbase}/${APP_Name}/stat_%d{yyyy-MM-dd}.log-->
			<fileNamePattern>${logbase}/${APP_Name}/stat/%d{yyyy-MM-dd}/stat.log
			<!--<fileNamePattern>${logdir}/${appName}/stat_%d{yyyy-MM-dd}.log-->
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<!--<fileNamePattern>/${LOG_HOME}/logs/${APP_Name}/stat.%d{yyyy-MM-dd}.log-->
			<!--</fileNamePattern>-->
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd}_%d{HH:mm:ss} %-5level%logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="cn.huace" level="info" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="info" />

	<logger name="cn.huace.statis.utils.StatUtils">
		<level value="info"/>
		<appender-ref ref="static_statFile"/>
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="static_console" />
		<appender-ref ref="static_rollingFile" />
	</root>
	<root >
		<level value="error" />
		<appender-ref ref="static_errorFile" />
	</root>

</configuration>